.icon-container {
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-icon {
  color: var(--icon-color);
  width: 90%;
  height: auto;
  margin: auto;
}

.end-icon {
  color: var(--icon-color);
  width: 80%;
  height: auto;
  margin: auto;
}
