* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.logo {
  width: 4rem;
  height: auto;
}

.header {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--primary-color-default);
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

.nav-menu li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu button {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.nav-menu button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.nav-menu button:hover {
  background-color: var(--primary-color-light);
  transition: 0.5s;
}
