.header {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: var(--primary-color-default);
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 3rem;
  height: auto;
  margin-right: 2rem;
}

.github-icon {
  width: 2.5rem;
  height: auto;
  color: black;
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

.nav-menu li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu button {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border-bottom: 2px solid transparent;
  position: relative;
}

.nav-menu button::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.nav-menu button:hover::before {
  width: 100%;
}
