.speed-counter {
  width: 5.5rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.speed-counter h2 {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}

.increment-count,
.decrement-count {
  cursor: pointer;
}

.quantity {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
