.graph {
  margin: 2vw;
  border-collapse: collapse;
  border-spacing: 0;
  height: 80vh;
  width: 96vw;
  -webkit-user-drag: none;
  user-select: none;
}

.graph tr {
  width: 100%;
}

.graph td {
  transition: background-color 0.5s ease, background-position 0.5s ease;
  background-position: center center;
  border: 3px solid #ffc26f;
  width: auto;
}
