.weight-icon {
  color: var(--weight-color);
  display: flex;
  width: 100%;
  position: relative;
}

.weight-svg {
  width: 100%;
  height: auto;
}

.weight-number {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 0.8rem;
}
