.graph {
  margin: 5vw;
  border: 3px solid var(--wall-color);
}

.graph tr {
  width: 100%;
  display: flex;
}

.graph td {
  width: calc(96vw / var(--numTableCols));
  height: calc(96vw / var(--numTableCols));
  transition: background-color 0.5s ease, background-position 0.5s ease;
  border: 3px solid var(--black);
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: -1.5px -1.5px;
}

.weight-icon {
  color: var(--weight-color);
  display: flex;
  width: 100%;
  position: relative;
}

.weight-svg {
  width: 100%;
  height: auto;
}

.weight-number {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 0.8rem;
}
